@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FAF7F2;
  color: #1C1917;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #DDD4C1;
  border-radius: 3px;
}
